<h1>New Post</h1>
<%= form_for @post do |f| %>
  <%= f.text_field :title %>
  <br/>
  <%= f.text_area :body %>
  <br/>
  <%= label :image_url, "Picture URL:" %>
  <%= f.text_field :image_url %>
  <br/>
  <%= f.submit %>
<% end %>
